<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>users</title>
</head>
<body>
<div>
    {{#each users}}
        <div>{{this.firstName}}</div>
        <div>{{this.lastName}}</div>
        <div>{{this.email}}</div>
        <div>{{this.password}}</div>
        <div>{{this.age}}</div>
        <div>{{this.city}}</div>
    {{/each}}
</div>
</body>
</html>